/* Navbar styles */
.fresh-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #333; */
  background-color: #33333347;
  padding: 0px 0px;
  overflow: hidden;
  z-index: 5;
  position:fixed;
  width: 100%;
}

.fresh-logo img {
  width: 120px;
  height: auto;
}

/* Main navigation styling */
.fresh-nav {
  display: flex;
  align-items: center;
}

.fresh-nav a{
  font-size: 18px;
  font-weight: bold;
}

.fresh-menu {
  display: flex;
  gap: 20px;
}

.fresh-menu a {
  color: white;
  text-decoration: none;
  padding: 8px 15px;
  transition: background-color 0.3s ease;
}

.fresh-menu a:hover {
  background-color: #0c5448;
  border-radius: 5px;
}


/* Mobile menu toggle button */
.fresh-menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  cursor: pointer;
}

.fresh-menu-toggle span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: white;
  position: relative;
}

/* Social Icons */
.social-icons {
  position: fixed;
  bottom: 2rem;
  right: 20px;
  z-index: 5;
}

.social-icons img {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  width: 70px;
  height: 70px;
  margin: 20px 0;
}

/* Responsive styling for mobile screens */
@media (max-width: 768px) {

  .fresh-header{

  }

  .fresh-menu-toggle {
    display: flex;
    margin: 3vw;
    align-items: flex-end;
    flex-direction: column;
  }

  .fresh-header img{
    margin-left: 20px;
  }

  .fresh-menu {
    display: none;
    flex-direction: column;
    top: 100%;
    background-color: #333;
    width: 100%;
    padding: 20px 0;
    position: absolute;
  }

  .fresh-menu a {
    padding: 12px 20px;
    border-bottom: 1px solid #555;
  }

  .fresh-menu a:last-child {
    border-bottom: none;
  }

  .fresh-show-menu {
    display: flex;
    position: relative;
  }

}
