.Malta_universities{
    background: linear-gradient(180deg, rgb(227, 244, 241) 0%, rgba(12, 84, 72, 1) 100%);;
    height: fit-content;
    z-index: 0;
    position: relative;
    padding-bottom: 3vh;
}

.Malta_universities h1{
    margin-top: 0;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 3vw;
    color: #0C5448;
    text-shadow: 0 0 3px #CFB248;
}

.Malta_uni_images {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    z-index: 1;
    padding-bottom: 5vw;
}

.werty{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin:  5vw 10vw 0 10vw;
    width: 80%;
}


.Malta_uni_images img{
    width: 18vw;
    height: 23vw;
    overflow: hidden;
    background-size: 100%;
    border-radius: 1vw;
    margin: 0px 2vw;
}

.Malta_uni_name1,.Malta_uni_name2,.Malta_uni_name3{
    white-space: nowrap;
    width: 18vw;
    height: 3.2vh;
    color:white;
    position: absolute;
    margin-top: 22vw;
    margin-left: 10vw;
    font-size: 18px;
    border-radius: 20px;
    padding: 0.25vw 1.5vw ;
}

.Malta_uni_name1{
    background-color: rgba(243, 174, 39,70%);
}

.Malta_uni_name2{
    background-color: rgba(0, 0, 0, 50%);
}

.Malta_uni_name3{
    background-color: rgba(177, 18, 18, 80%);
}

@media only screen and (max-width:1000px) {
    .werty{
        margin:  5vw 7vw 0 8vw;
        width: 85%;
    }
    .Malta_uni_name1,.Malta_uni_name2,.Malta_uni_name3{
        font-size: 17px;
        height: 3vh;
        width: 20vw;
        margin-left: 10vw;
    }
}

@media only screen and (max-width:800px) {

    .Malta_uni_images img{
        width: 25vw;
        height: 30vw;        
    }

    .Malta_uni_name1,.Malta_uni_name2,.Malta_uni_name3{
        margin-top: 29vw;
        font-size: 16px;
        width: 25vw;
        height: 3.5vh;
        margin-left: 15vw;
    }

    .Malta_universities h1{
        font-size: 2rem;
    }
}

@media only screen and (min-width:500px) and (max-width:615px) {
    .Malta_uni_images img{
        width: 25vw;
        height: 30vw;        
    }

    .Malta_uni_name1,.Malta_uni_name2,.Malta_uni_name3{
        margin-top: 29vw;
        font-size: 16px;
        width: 30vw;
        height: 3.5vh;
        margin-left: 20vw;
    }

    .Malta_universities h1{
        font-size: 2rem;
    }

}

@media only screen and (min-width:0px) and (max-width:500px) {
    
    .Malta_universities h1{
        font-size: 1.8rem;
        padding-top: 2vh;
    }

    .Malta_uni_images{
        padding-bottom: 10vw;      
    }

    .Malta_uni_images img{
        width: 30vh;
        height: 35vh;  
    }

    .Malta_uni_name1,.Malta_uni_name2,.Malta_uni_name3{
        margin-top: 34vh;
        margin-left: 20vw;
        font-size: 1.2rem;
        width: 35vh;
        height: 3.6vh;
    }
}