header {
  top: 0;
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);;
  color: #fdfdfd;
  z-index: 500;
  box-shadow: 0px 4px 4px 0px #00000026;
  height: 75px;
}

.logo img {
  margin-left: 4vw;
  width:6vw;
  height:11vh;
  /* height:10vh; */
}

nav {
  margin-right: 4vw;
}

nav ul.menu {
  list-style-type: none;
  margin: 0;
  display: flex;
  align-items: center;
}

nav ul.menu li {
  text-decoration: none;
  margin-left: 20px;
  align-items: center;
  padding:0px 20px;
}

nav ul.menu li a{
  text-decoration: none;
  color: #ffffff;
  font-size: 1.3vw;
  font-weight: 450;

}

nav ul.menu li a:hover{
  color: #82fb4ee0;
}

nav ul.menu li.dropdown:hover .dropdown-content {
  z-index: 1000;
  display: block;
  position: absolute;
}

nav ul.menu li.dropdown .dropdown-content {
  display: none;
  width: fit-content;
  /* top: 80px; */
  background-color: #292626;
  padding: 0.5rem;
  padding-top: 15px;
  text-align: start;
  z-index: 1000;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px #00000026;
}

nav ul.menu li.dropdown .dropdown-content li{
  padding: 5px 10px;
  padding-left: 0%;
  text-decoration: none;
  list-style-type: none;
}

nav ul.menu li.dropdown.show .dropdown-content {
  display: block;
}

nav ul.menu li.dropdown .dropdown-content a {
  display: block;
  color: #ffffff;
  text-decoration: none;
}

nav ul.menu li.dropdown .dropdown-content a:hover {
color: #7ED957;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  width: 6vw;
  height: 3px;
  background-color:#7ED957;
  margin-bottom: 3px;
}



.hh2{
  margin: 0%;
  padding-left: 0.6vw;
  border-left: 3px solid #fff;
}

.pp{
  margin: 0%;
  padding-left: 1vw;
  text-decoration: none;
}

.pp a{
  text-decoration: none;
  padding-top: 5px;
  color: #fff;
}

.bde:hover .contact{
  display: flex;
}

@media screen and (max-width: 600px) {
  .menu-toggle {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
  }

  .logo img {
      margin-left: 40px;
      width: 20vw;
  }
  
  nav {
      margin-right: 20px;
  }

  nav ul.menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      background-color: #292626;
      /* padding: 1rem; */
      font-size: 24px;
  }

  nav ul.menu li{
      padding: 10px 0px;
      margin-left: 0;
  }

  nav ul.menu li a{
      font-size: 22px;
  }
  
  .bdr{
      display: block;
      text-align: center;
      font-size: 5vw;
      margin-bottom: 40px;

  }

  .bd{
      display: none;
  }

  nav ul.menu li.dropdown .dropdown-content {
      width: 100%;
      text-align: center;
      left: -10px;
  }

  /* nav ul.menu li.dropdown .dropdown-content li {
      padding: 0;
  } */

  nav ul.menu.show {
      display: flex;
  }

  .contactm{
      display: flex;
      text-align: center;
  }

  .hh1{
      text-decoration: none;
      padding-bottom: 2px;
      color:#35374F;
      font-size: 5.4vw;
      padding-left: 0;
  }

  .hh2{
      text-decoration: underline;
      color: #7ED957;
      font-size: 5vw;
      padding-left: 0;
  }

  .pp{
      color: gray;
      padding: 0;
  }
}








import React, { useState, useEffect, useRef } from 'react';
import './navbar.css';
import logo from "../../assests/LogoElexport.jpg"
// import NL from '../Resourses/Header&Footer/NL.svg';

const Navbar = () => {
    const [showMenu, setShowMenu] = useState(false);
    const [showDropdown, setShowDropdown] = useState(false);
    const [showContact, setShowContact] = useState(false);
    const contactRef = useRef(null);

    const toggleMenu = () => {
        setShowMenu(!showMenu);
    };

    const toggleDropdown = () => {
        setShowDropdown(!showDropdown);
    };

    const closeDropdown = () => {
        setShowDropdown(false);
    };

    const handleContactClick = () => {
        setShowContact(!showContact);
    };

    const handleClick = (event) => {
        if (contactRef.current && !contactRef.current.contains(event.target)) {
            setShowContact(false);
        }
    };

    useEffect(() => {
        document.addEventListener('mousedown', handleClick);
        return () => {
            document.removeEventListener('mousedown', handleClick);
        };
    }, []);

    return (
        <header>
            <div className="logo">
                <img src={logo} alt="logo" />
            </div>
            <nav>
                <ul className={showMenu ? 'menu show' : 'menu'}>
                    <li><a href="/Home">Home</a></li>
                
                    <li className={`dropdown ${showDropdown ? 'show' : ''}`} onMouseLeave={closeDropdown}>
                        <a href="/Countries" onClick={toggleDropdown}>Countries</a>
                        <ul className="dropdown-content">
                            <li><a href="/WebApp">United Kingdom</a></li>
                            <li><a href="/MobileApp">Canada</a></li>
                            <li><a href="/Custom">Latvia</a></li>
                            <li><a href="/Ecomm">Lithuania</a></li>
                            <li><a href="/Consulting">France</a></li>
                            <li><a href="/UiUx">Sweden</a></li>
                            <li><a href="/UiUx">Finland</a></li>
                            <li><a href="/UiUx">Germany</a></li>
                        </ul>
                    </li>
                    <li><a href="/Home#Project">Services</a></li>
                    <li><a href="/AboutUs">About Us</a></li>
                    <li><a href="/ContactUs">Contact Us</a></li>
                   
                </ul>
                <div className="menu-toggle" onClick={toggleMenu}>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                
            </nav>
        </header>
    );
};

export default Navbar;
