.why-rel-country-container{
    background: linear-gradient(1deg, rgb(168, 160, 160) 0%, rgb(44, 42, 42) 80%);
    display: flex;
    height: 50vw;
    align-items: center;
    justify-content:center;
}

.why-rel-country-container-flag{
    padding: 2% 2% 2% 2%;
}

.why-rel-country-container-flag img{
    height: 35vw;
    width: 35vw;
    border-radius: 50%;
    border: 2px solid #faf7f0;   
}

.rel-text-Lat{
    padding-left: 5%;
}


.rel-text-Lat p{
    font-size: 16px;
    width: 25vw;
    /* height: 50px;  */
    color: white;
    padding:  0 1vw;
    border-radius: 10px; 
    margin-bottom: 20px;
}

.Lat-child1,.Lat-child2,.Lat-child3,.Lat-child4,.Lat-child5 {
    position: relative;
    border-radius: 50px;
    height:  5vw;   
    margin: 2vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Lat-child1 {
    background:  #b11212;    
    left: -5vw;   
    
}


.Lat-child2 {
    background: black;    
    left: -2.5vw;
}

.Lat-child3 {
    background: #b11212;
    left: -1vw;
}

.Lat-child4 {
    background: #131312;;
    left: -2.5vw;
}

.Lat-child5 {
    background:  #b11212;    
    left: -5vw;
}

@media only screen and (max-width: 1000px){
    .Lat-child1,.Lat-child2,.Lat-child3,.Lat-child4,.Lat-child5 {
        height: 6vw;
        width: 40vw;
    }

    .rel-text-Lat p{
        font-size: 0.8rem;
        width: 35vw;
    }
}

@media only screen and (min-width:590px) and (max-width: 700px) {
    .Lat-child1,.Lat-child2,.Lat-child3,.Lat-child4,.Lat-child5 {
        height: 5vh;
    }

    .rel-text-Lat p{
        font-size: 0.7rem;
        padding: 1.5vw;
    }


}

@media only screen and (max-width:590px) {
    .why-rel-country-container{
        flex-direction: column;
        height: fit-content;
    }

    .why-rel-country-container-flag{
        margin-top: 20px;
    }

    .why-rel-country-container-flag img{
        height: 55vw;
        width: 55vw;
    }

    .Lat-child1,.Lat-child2,.Lat-child3,.Lat-child4,.Lat-child5 {
        width: 75vw;
        height: 8vh;
        left: 0;
    }

    .rel-text-Lat p{
        width: 65vw;
        font-size: 1rem;
        padding: 15px;
    }
    
}

@media screen and (max-width:450px) {
    .Lat-child1,.Lat-child2,.Lat-child3,.Lat-child4,.Lat-child5 {
        height: 10vh;
        width: 85vw;
    }
    .why-rel-country-container-flag img{
        width: 60vw;
        height: 60vw;
    }
}